.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar-list a.chosen {
  border-bottom: 1px solid rgb(151, 50, 39);
}
.navbar-list a:hover {
  border-bottom: 1px solid #E74C3C;
}